<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>"Data Jobs" - Website for staffing and 'upskilling'</h1>


	<ul>
	{% if g.user %}
		  <li><span>User Name:{{ g.user['users_login'] }}</span>
				<br>
		{% else %}

		{% endif %}
  
  {% if g.user['role_level'] == 1%}
       Let's find some jobs!
    {% endif %}
  
    {% if g.user['role_level'] == 2%}
       Welcome, Recruiter!
      <li><a href="{{ url_for('upload_job') }}">Upload Role</a>
    {% endif %}

    {% if g.user['role_level'] == 3%}
       Welcome, Advertiser!
      <li><a href="{{ url_for('upload_ads') }}">Upload Ads</a>
      <li><a href="{{ url_for('upload_classes') }}">Upload Classes</a>
    {% endif %}

    {% if g.user['role_level'] == 4%}
       Welcome, Admin!
      <li><a href="{{ url_for('upload_job') }}">Upload Role</a>
      <li><a href="{{ url_for('upload_ads') }}">Upload Ads</a>
      <li><a href="{{ url_for('upload_classes') }}">Upload Classes</a>
    {% endif %}

    {% if g.user['role_level'] != null%}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
	  <li><a href="{{ url_for('update_users') }}">Update your Account</a>
        <li><a href="{{ url_for('remove_user') }}">Delete My Account</a>
    {% endif %}
	
	    {% if g.user['role_level'] == null%}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>

<br>

<p><a href="/another">See the Most Popular Data Skills!</a></p>
<p><a href="/search">Search Jobs</a></p>

  <p><a href="{{ url_for('remove_user') }}">Delete My Account</a></p>

</form>

</body>

<!--
<p><a href="/register">Sign Up</a></p>
<p><a href="/login">Log In</a></p> 
<p><a href="/update">Update Profile</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>


-->

</html>
