<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>"Data Jobs" - Website for staffing and 'upskilling'</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>




<ul>

    {% if g.user['role_level'] == 2%}
      <li><a href="{{ url_for('upload_job') }}">Upload Role</a>
    {% endif %}

    {% if g.user['role_level'] == 3%}
      <li><a href="{{ url_for('upload_ads') }}">Upload Ads</a>
      <li><a href="{{ url_for('upload_classes') }}">Upload Classes</a>
    {% endif %}

    {% if g.user['role_level'] == 4%}
      <li><a href="{{ url_for('upload_job') }}">Upload Role</a>
      <li><a href="{{ url_for('upload_ads') }}">Upload Ads</a>
      <li><a href="{{ url_for('upload_classes') }}">Upload Classes</a>
    {% endif %}

    {% if g.user['role_level'] != null%}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>







<br>
<br>


<p><a href="/another">See the Most Popular Data Skills!</a></p>

<br>

<p><a href="/search">Search Jobs</a></p>

<br>
<p><a href="/register">Sign Up</a></p>
<p><a href="/login">Log In</a></p>
<p><a href="/update">Update Profile</a></p>

<br>

<p><a href="/upload_job">Upload Job</a></p>
<p><a href="/upload_ads">Upload Ads</a></p>
<p><a href="/upload_class">Upload Class</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
