

  <h1>Search Jobs</h1>

 Search a job type
 
 <form action="/search" method="POST">
<SELECT name='job_type', method = "POST" action "/">
{% for jobs in jobtypes_server %}
    <OPTION value="{{jobs}}">{{jobs}}</option>
{% endfor %}
</SELECT>	

<input type="submit" value="Search Job"> 

</form>


  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <!--
<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>{{ data }}</h1>
      <hr>
      {% block content %} 
	      {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
	  {% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
  
    -->
</html>