
  <h1>Upload a New Job</h1>


  <form method="post">
    <label for="users_login">Company</label>
    <input name="users_login" id="username" required>
	
    <label for="users_password">Position Location</label>
    <input type="users_password" name="users_password" id="password" required>
	
	<label for="users_password">Position Name</label>
    <input type="users_password" name="users_password" id="password" required>
	
	<label for="users_password">Salary</label>
    <input type="users_password" name="users_password" id="password" required>
	
	<label for="users_password">Job Type</label>
    <input type="users_password" name="users_password" id="password" required>
	
	<label for="users_password">Skills Needed</label>
    <input type="users_password" name="users_password" id="password" required>
	
    <input type="submit" value="Register">
  </form>
